body {
  padding: 3rem 10rem 0 10rem;
  margin: 0;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  /* Doplňte vlastnosti písma nadpisu. */
}
.card-list {
  margin-top: 3rem;
  display: grid;
  /* Dopľňte vlastnosti gridu pro vzhled seznamu kartiček. */
}
.card {
  /* Doplňte správný padding a pozadí. */
  border-radius: 1rem;
  display: flex;
  /* Doplňte vlastnosti flexboxu pro vzhled kartičky. */
}
.card-title {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(180, 180, 180);
}
.card-content {
  text-align: justify;
}
.card-author-date {
  font-style: italic;
  /* Doplňte CSS vlastnosti pro vzhled autora a data vytvoření kartičky. */
}
